<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </div>

  <h1>
    {{t 'submit_a_request'}}
  </h1>

  <div id="main-content" class="form">


  <div class="request-blocks-grid">
    <a href="/hc/requests/new?ticket_form_id=15389492342802" class="request-block">
      <i class="fas fa-building-columns request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_servicios_institucionales_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_servicios_institucionales_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=15276500942098" class="request-block">
      <i class="fas fa-users request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_gestion_rrhh_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_gestion_rrhh_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=14949679504402" class="request-block">
      <i class="fas fa-euro request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_gestion_economica_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_gestion_economica_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=11033518644626" class="request-block">
      <i class="fas fa-graduation-cap request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'gestion_academica_titulo'}}</h3>
        <p class="request-block-description">{{dc 'gestion_academica_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=15199499231250" class="request-block">
      <i class="fas fa-eye-dropper request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_gestion_investigacion_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_gestion_investigacion_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=10775915153298" class="request-block">
      <i class="fas fa-laptop request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_gestion_tecnologia_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_gestion_tecnologia_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=14978422167698" class="request-block">
      <i class="fas fa-screwdriver-wrench request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_gestion_ogi_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_gestion_ogi_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=14930637822738" class="request-block">
      <i class="fas fa-book request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_gestion_bibliotecas_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_gestion_bibliotecas_descripcion'}}</p>
      </div>
    </a>

    <a href="/hc/requests/new?ticket_form_id=15247568191634" class="request-block">
      <i class="fas fa-building-user request-block-icon" aria-hidden="true"></i>
      <div class="request-block-content">
        <h3 class="request-block-title">{{dc 'nrc_servicios_generales_titulo'}}</h3>
        <p class="request-block-description">{{dc 'nrc_servicios_generales_descripcion'}}</p>
      </div>
    </a>
  </div>


</div>

