<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </div>

  <h1>
    {{t 'submit_a_request'}}
  </h1>

  {{#if settings.show_request_callout}}
    {{#if settings.request_callout_text}}
      <div class="callout callout-{{settings.request_callout_type}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="callout-icon">
          {{#is settings.request_callout_type "info"}}
            <path fill="currentColor" d="M8 0a8 8 0 110 16A8 8 0 018 0zm0 10a1 1 0 100 2 1 1 0 000-2zm0-8a1 1 0 00-1 1v5a1 1 0 002 0V3a1 1 0 00-1-1z"/>
          {{/is}}
          {{#is settings.request_callout_type "warning"}}
            <path fill="currentColor" d="M8 0a1 1 0 01.89.55l7 14A1 1 0 0115 16H1a1 1 0 01-.89-1.45l7-14A1 1 0 018 0zM7 6v4a1 1 0 002 0V6a1 1 0 00-2 0zm1 7a1 1 0 100 2 1 1 0 000-2z"/>
          {{/is}}
          {{#is settings.request_callout_type "danger"}}
            <path fill="currentColor" d="M8 0a8 8 0 110 16A8 8 0 018 0zM5.75 4.25a1 1 0 00-1.5 1.5L6.5 8l-2.25 2.25a1 1 0 001.5 1.5L8 9.5l2.25 2.25a1 1 0 001.5-1.5L9.5 8l2.25-2.25a1 1 0 00-1.5-1.5L8 6.5 5.75 4.25z"/>
          {{/is}}
        </svg>
        <div class="callout-body">
          {{settings.request_callout_text}}
        </div>
      </div>
    {{/if}}
  {{/if}}


  <div id="main-content" class="form">
    <div id="new-request-form"></div>
  </div>
</div>

<script type="module">
  import { renderNewRequestForm } from "new-request-form";

  const container = document.getElementById("new-request-form");

  const settings = {{json settings}};

  const props = {
    requestForm: {{json new_request_form}},
    newRequestPath: {{json (page_path 'new_request')}},
    parentId: {{json parent.id}},
    parentIdPath: {{json parent.url}},
    locale: {{json help_center.locale}},
    baseLocale: {{json help_center.base_locale}},
    hasAtMentions: {{json help_center.at_mentions_enabled}},
    userRole: {{json user.role}},
    userId: {{json user.id}},
    brandId: {{json brand.id}},
    organizations: {{json user.organizations}},
    wysiwyg: true,
    answerBotModal: {
      answerBot: {{json answer_bot}},
      hasRequestManagement: {{json help_center.request_management_enabled}},
      isSignedIn: {{json signed_in}},
      helpCenterPath: {{json (page_path 'help_center')}},
      requestsPath: {{json (page_path 'requests')}},
      requestPath: {{json (page_path 'request' id=answer_bot.request_id)}}
    },
  };

  renderNewRequestForm(settings, props, container);
</script>
